
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body 
{
    font-family: Arial, sans-serif;
    background-color: #dac3c3;
    line-height: 1.6;
}


.holiday-ideas 
{
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center; 
    background-color: white;
}
.tasty-food 
{
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 40px;
    text-align: center; 
    background-color: white;
}



.heading h1 {
    font-size: 2.4rem;
    color: #227c70;
    margin-bottom: 10px;
}

.heading p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}


.ideas 
{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 

}
.idea 
{
    background: #2f2828; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Using rgba instead of rgb*/
    width: 200px; 
    padding: 20px;
    text-align: center; 
    transition: transform 0.3s; 
}

.idea:hover 
{
    transform: translateY(-10px); 
}

.idea img 
{
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 10px;
}

.idea h3 
{
    font-size: 1.5rem;
    color: #bfc5d0;
    margin-bottom: 10px;
}

.idea p 
{
    font-size: 1rem;
    color: #c0b5b5;
    margin-bottom: 15px;
}

.idea button {
    padding: 10px 20px;
    background-color: #227c70;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.idea button:hover 
{
    background-color: #1a5a50; 
}


@media screen and (max-width: 393px) and (max-height: 851px) {
    .idea img {
        aspect-ratio: 1 / 1; 
    }
}

.idea button {
    padding: 8px 16px; 
}

